<!--{
	"Title": "База данных",
	"Path": "/database/"
}-->

<div id="manual-nav"></div>

<h2>Общие сведения</h2>

<p>
    Для работы с базой данных система Риэлтор использует библиотеку
    <a href="/pkg/github.com/jinzhu/gorm/">gorm</a>.
    Соответственно, в качестве СУБД может
    быть выбрана любая платформа, поддерживаемая этой библиотекой. Фактически на сервере
    ЦАН и разработчиками используется MySql.
</p>

<p>
    Структуры всех типов объектов базы данных и реализация интерфейса собраны в модуле
    <a href="/pkg/bitbucket.org/961961/tsan/one/">one</a>.
</p>

<p>
    До версии 3 в системе Риэлтор применяется параллельный интерфейс на модуле
    <a href="/pkg/bitbucket.org/961961/tsan/jone/">jone</a>, использующем библиотеку
    <a href="/pkg/bitbucket.org/shaman/lik/likbase/">likbase</a> и динамические структуры
    <a href="/pkg/bitbucket.org/shaman/lik/">lik.Seter</a>.
    При этом каждая запись базы данных доступна
    через оба интерфейса под одним индексом <b>id</b>, и имеет
    как комплект полей структуры соответствующего типа из модуля <b>one</b>, так и поле <b>info</b>, в котором
    сохраняются динамические структуры интерфейса <b>likbase</b>.
</p>

<h2>Интерфейс jone</h2>

<p>
    Интерфейс
    <a href="/pkg/bitbucket.org/961961/tsan/jone/">jone</a>, основанный на
    <a href="/pkg/bitbucket.org/shaman/lik/likbase/">likbase</a>, поддерживая характерный для ORM-технологий
    механизм отображения строк таблиц базы данных на объекты в памяти, в то же время
    обладает рядом особенностей:
    <ul>
    <li>Программы работают с указателями на объекты базы данных
        <a href="/pkg/bitbucket.org/shaman/lik/likbase#ItElm">*ItElm</a>, причем каждый объект уникален,
        то есть представлен одной структурой, на которую могут указывать множество указателей
    </li>
    <li>Доступ к информации в объекте производится через поле .Info, это интерфейс динамических структур
        <a href="/pkg/bitbucket.org/shaman/lik#Seter">lik.Seter</a>. Структуры поддерживают обычные
        поля примитивов, подструктуры и массивы динамического состава, то есть жесткое следование схеме
        не является обязательным.
    </li>
    <li>Как чтение объектов из таблиц базы данных, так и запись новых и изменённых объектов, производится
        автоматически, асинхронно. Таким образом, на уровне модели данных программа может считать, что
        объекты просто постоянно находятся в памяти.
    </li>
    </ul>
</p>

<h2>Объекты базы данных</h2>

<p>
    Все структуры объектов композиционно включают структуру
    <a href="/pkg/bitbucket.org/961961/tsan/one#One/">one.One</a>.
    Это позволяет использовать методы интерфейса
    <a href="/pkg/bitbucket.org/961961/tsan/one#Oner/">one.Oner</a>.
</p>

<h3>Объект Depart (подразделение)</h3>

<p>
    Структура объекта:
    <a href="/pkg/bitbucket.org/961961/tsan/one#Depart/">one.Depart</a>, связи:<br>
    DepartId - может указывать на вышестоящее подразделение, в которое входит данное.
    Таким образом, записи подразделений могут образовывать
    иерархическую структуру дерева.
</p>

<h3>Объект Member (сотрудник)</h3>

<p>
    Структура объекта:
    <a href="/pkg/bitbucket.org/961961/tsan/one#Member/">one.Member</a>, связи:<br>
    DepartId - подразделение, в которое входит сотрудник.
</p>

<h3>Объект Bell (контакт)</h3>

<p>
    Структура объекта:
    <a href="/pkg/bitbucket.org/961961/tsan/one#Bell/">one.Bell</a>, связи:<br>
    ClientId - клиент - инициатор,
    AcceptId - сотрудник, принявший контакт,
    MemberId - ответственный риэлтор,
    OfferId - заявка, сформированная по контакту,
    TargetId - заявка, которой интересуется контакт
</p>

<h3>Объект Offer (заявкв)</h3>

<p>
    Структура объекта:
    <a href="/pkg/bitbucket.org/961961/tsan/one#Offer/">one.Offer</a>, связи:<br>
    ClientId - клиент - инициатор,
    MemberId - ответственный риэлтор,
    ObjectId - объект недвижимости,
</p>

<h3>Объект Object (объект недвижимости)</h3>

<p>
    Структура объекта:
    <a href="/pkg/bitbucket.org/961961/tsan/one#Object/">one.Object</a>.<br>
</p>

<h3>Объект Client (клиент)</h3>

<p>
    Структура объекта:
    <a href="/pkg/bitbucket.org/961961/tsan/one#Client/">one.Client</a>.<br>
</p>

<h3>Объект Deal (сделка)</h3>

<p>
    Структура объекта:
    <a href="/pkg/bitbucket.org/961961/tsan/one#Deal/">one.Deal</a>.<br>
    SeleId - заявка на продажу, сдачу в аренду,
    ByeId - завка на покупку, съем
</p>

<h3>Объект Pin (внутренний телефон)</h3>

<p>
    Структура объекта:
    <a href="/pkg/bitbucket.org/961961/tsan/one#Pin/">one.Pin</a>.<br>
    MemberId - сотрудник, за которым закреплен телефон
</p>

