<!--{
	"Title": "Установка",
	"Path":  "/install/"
}-->

<div id="manual-nav"></div>

<h2>Требования к оборудованию</h2>

<p>
    Установка системы Риэлтор возможна почти на любой компьютер с операционной системой
    Windows или Linux. Но для обеспечения высокого быстродействия и поддержки работы
    многих сотрудников желательно использовать выделенный сервер.
</p>

<p>
    Рекомендуемые характеристики компьютера:
</p>

<ul>
    <li>Операционная система: Windows 7+ или Linux (любой клон).</li>
    <li>Процессоры: 4 ядра плюс 1 ядро на каждые 20 работающих операторов.</li>
    <li>Оперативная память: 2 Гб плюс 2 Гб на каждые 10 работающих операторов.</li>
    <li>Дисковое пространство: 10 Гб на каждые 1000 объектов, включая архивные.</li>
    <li>Открытый порт для обработки HTTP запросов (например, 80).</li>
    <li>Система управления базами данных: MySQL версии 5.6 и выше</li>
    <li>Опционально: WEB-сервер nginx или apache2 для проксирования HTTP(S).</li>
    <li>Опционально: git и go для компиляции исходного кода./li>
</ul>

<h2>Порядок установки исполняемого дистрибутива</h2>

<ul>
    <li>Проверить характеристики компьютера, наличие и доступность СУБД, установить MySQL,
        если необходимо.</li>
    <li>Создать базу данных, с которой будет работать система, таблицы и поля будут созданы
        автоматически. Выбрать или создать аккаунт, под которым она будет работать с этой базой данных.
        У зтого аккаунта должны быть все права на базу.</li>
    <li>Выбрать директорию для установки системы. У программы Риэлтор должны быть как минимум
        права на чтение этой директории и все права для поддиректории var.</li>
    <li>Скопировать или распаковать дистрибутив системы в эту директорию. После копирования
        в директории должны быть исполняемые файлы
        (tsan.bin и tsan.sh для Linux, tsan.exe и tsan.cmd для Windows) и папки:
        images, js, lib, var. В папке var должен находиться файл tsan.sql, содержащий базу данных со
        стартовыми настройками.</li>
    <li>Отредактировать командный файл запуска системы. В команде запуска необходимо указать
        адрес, логин, пароль и имя базы данных, а также номер порта HTTP интерфейса, на котром
        система должна получать и обрабатывать запросы.</li>
    <li>Для удобства управления системой рекомендуется настроить средства автоматизации запуска,
        отстановки и обновления дистрибутива. Выбор этих сретств зависит от операционной системы.</li>
    <li>Для .</li>
    <li>Во время работы в папке var создаются рабочие подпапки и файлы. В папку var/log помещаются
        файлы с рабочими и диагностическими сообщениями, их просмотр может помочь при проблемах
        в установке и работе.</li>
    <li>Запустить систему Риэлтор.</li>
    <li>Запустить браузер и открыть сайт системы. Если база данных пуста, создаются все необходимые
        таблицы и аккаунт администратора: логин <i>admin</i>, пароль <i>admin</i>.</li>
    <li>Зайти в настройки и загрузить стартовую базу данных из файла var/tsan.sql, или сохраненную
        рабочую базу. При необходимости можно воспользоваться и общими средствами СУБД, такими как
        клиент mysql, workbench, webmin или phpmyadmin.</li>
    <li>Если была загружена рабочая база данных, следует восстановить или копировать директорию
        var/obj, в которой находятся прикрепленные фотографии и документы.</li>
</ul>

<h2>Порядок установки исходных кодов <b>go</b></h2>

<p>
    Установка исходных кодов позволяет загрузить систему непосредственно из дистрибутивов
    в интернете, анализировать, изменять и отлаживать исходный код на языках go и javascript.
    Средства управления разработкой позволяют работать над системой нескольким разработчикам,
    а встроенные средства импорта и экспорта - синхронизировать базу данных.
</p>

<p>
    Кроме выбора сервера и создания базы данных
    необходимо установить следующие компоненты (или их аналоги):
</p>

<ul>
    <li>Программа управления версиями git</li>
    <li>Среда программирования go</li>
    <li>Дополнительные модули, используемые системой</li>
</ul>

<p>
    Здесь и далее предполагается, что все исходные коды размещаются в одной директории,
    в документации на систему go она указывается в переменной среды GOPATH. В этой директории
    должна находиться, в частности, поддиректория исходных кодов src, в которой необходимо
    выполить следующие команды.
</p>

<pre>
    //  Установка дополнительных модулей
    go get golang.org/x/tools
    go get github.com/go-sql-driver/mysql
    go get github.com/jinzhu/gorm
    go get github.com/jung-kurt/gofpdf
    go get github.com/nfnt/resize
    go get bitbucket.org/shaman/lik
    //  Исходники системы Риэлтор
    go get bitbucket.org/961061/tsan
    //  Компиляция
    cd bitbucket.org/961961/tsan
    go build tsan.go
</pre>

<p>
    Далее также необходимо инициализировать или загрузить базу данных
</p>

